- @questions.each do |q|
  .question-small
    .user-details.float-left
      .avathar= image_tag q.user.image.url(:thumb)
    .question-small-body
      %h3= link_to(q.user.name, user_path(q.user))
      %p= auto_link q.text, html: {target: '_blank'}
      = link_to new_user_response_path(q.user), class: 'connect-icon' do
        = image_tag('https://miro.medium.com/max/1200/1*2hod4Lwb9wDrzSTLFVcpOg@2x.png', class: 'float-right connect-icon-img')
    .clearfix

.clearfix
- if @questions.next_page
  .more-responses.more-questions.question-wraper.view-more-questions-container
    = link_to 'View more', questions_path(query: params[:query], page: params[:page].present? ? params[:page].to_i + 1 : 2), remote: true, class: 'view-more view-more-questions'

- if @questions.length == 0 && params[:query].present?
  No results
