.admin-actions.pull-left
  - if true
    - if link.hidden
      = link_to "show", unhide_link_path(link), remote: true, class: 'toggle-visibility pull-left', method: :put
    - else
      = link_to "hide", hide_link_path(link), remote: true, class: 'toggle-visibility pull-left', method: :put
    = link_to "delete", link_path(link), remote: true, class: 'delete-link pull-left', method: :delete
    - if link.favourite?
      = link_to 'unfavourite', mark_fav_link_path(link), method: :put, remote: true, class: 'fav pull-left'
    - else
      = link_to 'favourite', mark_fav_link_path(link), method: :put, remote: true, class: 'fav pull-left'
    = link_to 'feature', feature_link_path(link), remote: true, method: :put, class: ' fav link-action-user favpull-right'
