.ads
  - Ad.all.each do |ad|
    .ad.pull-left
      = ad.body.html_safe
  .clearfix
= link_to '+ add link', '#', remote: true, class: 'new-link pull-right'
.clearfix
.clearfix
.form-container
  = render template: 'links/new'

.links
  = render template: 'links/search'
- if bot_request?
  = will_paginate @links, inner_window: 1000, outer_window: 1000, params: {q: params[:q]}