.ads.description.name
  .ad.pull-left
    Welcome to X-links porn search engine. Search Across Internet for the best videos Added by users
  .clearfix
.featured-tags
  - FeatureTag.all.each do |tag|
    = link_to tag.name, "/?q=#{tag.tag}&orientation=straight", class: 'name'
= link_to '+ add link', '#', remote: true, class: 'new-link pull-right'
.clearfix
.form-container
  = render template: 'links/new'

.links
  = render template: 'links/search'
- if bot_request?
  = will_paginate @links, inner_window: 1000, outer_window: 1000, params: {q: params[:q]}