.featured-video{style: "background-image: url('https://ip.com/wp-content/uploads/2018/07/fireworks-1170x878.png'); background-size: cover; margin-bottom: 12px;"}
  %h3.heading
    Todays Featured
  = render partial: 'links/links', locals: {links: Link.featured, featured: true}
.ads.description.name
  .ad.pull-left
    Welcome to Anonshare search engine. Search Across Internet for the best things Added by users across globe where anarchy is a thing.
  .clearfix
.featured-tags
  - FeatureTag.all.each do |tag|
    = link_to tag.name, "/?q=#{tag.tag}&orientation=straight", class: 'name'
= link_to '+ add link', '#', remote: true, class: 'new-link pull-right'
.clearfix
.form-container
  = render template: 'links/new'

.links
  = render template: 'links/search'
- if bot_request?
  = will_paginate @links, per_page: 100