= simple_form_for @link, html: {class: 'form', remote: true} do |f|
  = f.input :name, require: true, html: {class: 'link-input'}
  = f.input :url, require: true, html: {class: 'link-input'}
  = f.input :tags
  = f.submit
