!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{ :name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
    %meta{ :name=>"google-site-verification", :content=>"RTn56zwPNTl1Q8QG8ENW3Ipd9aQd7znmDNaCRgcxVtc"}
    %meta{ :name=>"Description", :content=> ::TextRecord.where(name: 'meta_desc').first.try(:value)}
    %title= "#{intel_title}| Best Collection"
    %link{rel: 'icon', href: asset_url('flavico.png')}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render partial: 'layouts/tracker'
  %body{style: bg_style}
    = raw result_description
    .nav
      = link_to '/', class: 'home-link pull-left float-left' do
        = image_tag(asset_url('home.png'))
      .video-search.white.pull-left.float-left.form-group
        = text_field_tag 'search', nil, placeholder: 'Search', data: {url: search_links_path(page: 1)}, class: 'search-field form-control'
      .nav-bar
        .orientation.pull-left
          = link_to 'straight', root_path(orientation: 'straight'), class: @orientation == 'straight' || @orientation.blank? ? 'current_orientation' : ''
          = link_to 'lesbian', root_path(orientation: 'lesbian'), class: @orientation == 'lesbian' ? 'current_orientation' : ''
          = link_to 'gay', root_path(orientation: 'gay'), class: @orientation == 'gay' ? 'current_orientation' : ''
          .clearfix
          = link_to 'Find Like-minded partner', '/home', class: 'network-link'
          = link_to 'Share a News Anonymously and safe', edit_anon_share_path, class: 'network-link'
      .nav-toggle.active
        .show-toggle
          Show
        .hide-toggle
          hide
    .common-bg.white
      - if flash[:notice].present?
        .flash
          = flash[:notice]
      = yield
