!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{ :name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
    %meta{ :name=>"google-site-verification", :content=>"RTn56zwPNTl1Q8QG8ENW3Ipd9aQd7znmDNaCRgcxVtc"}
    %meta{ :name=>"Description", :content=> ::TextRecord.where(name: 'meta_desc').first.value}
    %link{ href: "https://fonts.googleapis.com/css?family=Roboto&display=swap", rel: "stylesheet" }
    %title X-links|video links collection
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render partial: 'layouts/tracker'
    %script{src: 'https://www.youtube.com/player_api'}
  %body
    .nav-bar
      %h2.pull-left.site-header
        X-links
      .search.white.pull-left
        = text_field_tag 'search', nil, placeholder: 'Search', data: {url: search_links_path(page: 1)}
      .orientation.pull-left
        = link_to 'straight', root_path(orientation: 'straight')
        = link_to 'lesbian', root_path(orientation: 'lesbian')
        = link_to 'gay', root_path(orientation: 'gay')
    .common-bg.white
      - if flash[:notice].present?
        .flash
          = flash[:notice]
      = yield
