!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{ :name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
    %meta{ :name=>"google-site-verification", :content=>"RTn56zwPNTl1Q8QG8ENW3Ipd9aQd7znmDNaCRgcxVtc"}
    %meta{ :name=>"Description", :content=> ::TextRecord.where(name: 'meta_desc').first.try(:value)}
    %title= "#{intel_title}| Best Collection"
    %link{rel: 'icon', href: asset_url('flavico.png')}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render partial: 'layouts/tracker'
  %body{style: bg_style}
    = raw result_description
    - unless cookies[:popup_seen]
      .popup
        = link_to 'close', '#', class: 'btn btn-primary float-right', onclick: '$(this).closest(".popup").remove()'
        .clearfix
        The purpose of This sit is to Promote Our Absolutly FREE Adult dating platform to connect with like-minded partners.
        = link_to 'Start by asking questions about others likes', '/home'
    = link_to '/', class: 'home-link' do
      = image_tag(asset_url('home.png'))
    .nav-bar
      = link_to '/', class: 'site-text name d-none' do
        %h2.pull-left.site-header
          X-Links Search Engine
      .video-search.white.pull-left.form-group
        = text_field_tag 'search', nil, placeholder: 'Search', data: {url: search_links_path(page: 1)}, class: 'search-field form-control'
      .orientation.pull-left
        = link_to 'straight', root_path(orientation: 'straight'), class: @orientation == 'straight' || @orientation.blank? ? 'current_orientation' : ''
        = link_to 'lesbian', root_path(orientation: 'lesbian'), class: @orientation == 'lesbian' ? 'current_orientation' : ''
        = link_to 'gay', root_path(orientation: 'gay'), class: @orientation == 'gay' ? 'current_orientation' : ''
        = link_to 'Fuck Like-minded partner', '/home', class: 'network-link'
    .common-bg.white
      - if flash[:notice].present?
        .flash
          = flash[:notice]
      = yield
